MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/algo-rich?retryWrites=true&w=majority
DATABASE_URL=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/algo-rich?retryWrites=true&w=majority
AUTH_SECRET=your-random-secret-here
NEXTAUTH_URL=https://your-vercel-app.vercel.app
